<div style="height: 90vh;overflow-y: auto; overflow-x: hidden; margin-top: 10vh;" when-scrolled="scrollGlobal();">
    <style>
        @media screen and (max-width: 700px){
            #login{
                width: 70% !important;
            }
        }
    </style>
    <a href="https://github.com/appbaseio/twitter-appbase"><img style="position: absolute; right: 0; border: 0" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <div class="container" style="margin-top:5vh;">
        <div class="alert alert-warning fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <p style="text-align:center;">
                <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
                Read the blog about how we built this in 300 lines of clientside Javascript <a href="http://news.appbase.io/posts/222589-twitter-appbase" target="_blank">here</a>.
            </p>
        </div>
    </div>
    <div class="container" style="height: 100% !important;">
        <form ng-submit="login()" style="width: 35%;margin:auto;" id="login">
            <div class="loading-container" data-ng-show="loading">
                <i class="fa fa-spinner fa-pulse"></i> Loading
            </div>
            <div class="jumbotron" style="padding: 4%">
                <input ng-required="true" type="text" ng-model="userId" placeholder="Name" style="border: 1px solid grey;border-radius: 5px;font-size: 1.7em;width: 100%;padding-left: 15px;"><br>
                <input type="submit" value="Enter Your Name" style="width: 100%;margin-top: 3%;font-size: 1.5em;" class="btn btn-primary">
            </div>

            <!-- <button ng-click=">Add</button> -->
        </form>
        <hr>
        <h2 style="text-align: center;color: #3276b1">What are people up to?</h2>
        <div style="padding: 2%;width: 80%;margin:auto;" data-ng-include src="'views/tweet.html'">       
        </div>
    </div>
</div>