
    <div class="container" style="padding-top: 70px;margin-top: 3%;">
        <div>
            <div class="row">
                <div class="col-md-3 col-md-offset-1" style="padding-bottom: 50px">
                    <div class="container" style="max-width: 275px; max-height: 250px; overflow-y: hidden">
                        <div class="row" style="text-align: center;">
                            <img class="media-object" src="./img/user@2x.png" style="width: 35%;margin: auto">
                            <h3 style="margin-top: 10px;">{{myself._source.name}}</h3>
                            <span class="label label-info pull-left" style="width: 45% !important;font-size: 1em;">Followers {{myself._source.followers.length}}</span>
                            <span class="label label-info pull-right" style="width: 45% !important;font-size: 1em;">Following {{myself._source.following.length}}</span>
                            <style type="text/css">
                            *{
                                /*border: 1px solid red;*/
                            }
                            </style>
                        </div>
                    </div>
                    <div class="container" style="max-width: 275px;margin-top:5%;">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title" style="text-align: center;">People on Twitter</h3>
                                </div>
                                <div class="container" style="max-width: 273px; padding: 0px;">
                                    <div class="panel-body" style="padding: 5px !important">
                                        <ul class="list-group" vs-repeat style="max-height: 300px; overflow-y: auto;margin: 0px;"   scroll-down="users">
                                            <li ng-repeat="person in users.hits.hits | orderBy:'_source.createdAt':true" class="list-group-item" style="width: 100%">
                                                <button ng-click="gotoProfile(person._source.name)" class="btn btn-primary btn-sm" style="background: transparent;color:black;border: 0px;">{{person._source.name}}</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <style type="text/css">
                #tweetstream{
                    margin-top: 3% !important;
                }
                @media screen and (max-width: 550px){
                    #tweet_input{
                        width: 100% !important;
                    }
                    #tweetButton{
                        width: 100% !important;
                        margin-top: 2%;
                    }
                    #tweetstream{
                        margin-top: 15% !important;
                    }
                }
                </style>
                <div class="col-md-6 col-md-offset-1" style="min-height: 200px; max-height: 500px;">
                    <form ng-submit="addTweet()">
                        <input class="input-sm" id="tweet_input" type="text" required ng-model='msg' placeholder="Your tweet here!"  style="width: 85%;border: 1px solid grey;height: 40px !important;font-size: 1.2em">
                        <button type="submit" class="btn btn-primary btn-sm pull-right" style="font-size: 1.2em;height: 40px !important;" id="tweetButton">Tweet</button>
                    </form >
                    <div  data-ng-include src="'views/tweet.html'"></div>
                </div>
            </div>
        </div>
    </div>