
    <div class="container" style="padding-top: 70px;margin-top: 3%;">
        <div>
            <div class="row">
                <style type="text/css">
                    #tweetstream{
                    margin-top: 3% !important;
                    }
                @media screen and (max-width: 550px){
                    #tweetstream{
                        margin-top: 15% !important;
                    }
                }
                </style>
                <div class="col-xs-offset-5">Searching for '{{currentQuery}}'</div>
                <div class="col-md-6" style="min-height: 200px; max-height: 500px;">
                  <h3>Tweets</h3>
                     <div data-ng-include src="'views/tweet.html'">            
                    </div>
                </div>
                <div class="col-md-6" style="min-height: 200px; max-height: 500px;">
                  <h3>Users</h3>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="user in searchUsers"> <!--ng-repeat-->
                            <a><h4 ng-click="gotoProfile(user._source.name)" style="cursor:pointer" class="list-group-item-heading">{{user._source.name}}</h4></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>