 <!-- data-ng-show="tweet._source.msg && tweet._source.msg != ''" -->
<div class="list-group-item" style="width: 100%"> 
	 <h4 class="list-group-item-heading">
	    <span data-ng-show="bahar">{{tweet._source.by}}</span>
	    <a data-ng-hide="bahar" ng-click="gotoProfile(tweet._source.by)" style="cursor:pointer">{{tweet._source.by}}</a>
	    <span style="float:right;font-size:0.6em;font-weight:400;color:#999999">{{tweet._source.createdAt | relativeTime}}</span>
	</h4>
	<p class="list-group-item-text" ng-bind-html="urlify(tweet._source.msg)"></p>
</div>